
.container {
	width: 100vmin;
    min-height: 30vmin;
	background-color: rgb(52,53,65);
	padding: 50px 30px;
	position: absolute;
	transform: translate(-50%, -50%);
    flex-direction: column;
	top: 50%;
	left: 50%;
	border-radius: 15px;
    box-shadow: 0 0 30px rgba(109, 109, 109, 0.15);
}

button {
	color:#000000;
	background-color: #f0f0f0;
	border: none;
	border-radius: 5px;
	padding: 10px 30px;
	font-size: 14px;
    margin: 10px;
  }

button:active {
    transform: scale(0.95); /* Кнопка немного уменьшается */
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2); /* Тень внутрь */
}

.button-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

