
.container {
	width: 100vmin;
    min-height: 30vmin;
	background-color: rgb(52,53,65);
	padding: 50px 30px;
	position: absolute;
	transform: translate(-50%, -50%);
    flex-direction: column;
	top: 50%;
	left: 50%;
	border-radius: 15px;
    box-shadow: 0 0 30px rgba(109, 109, 109, 0.15);
    z-index: 1;
}

button {
	color:#000000;
	background-color: #eeeeee;
    border: solid;
    border-color: rgb(182, 182, 182);
	border-radius: 10px;
    padding: 15px 40px;
	font-size: 14px;
    margin: 10px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0px 7px 0px rgb(182, 182, 182); /* Имитация нижней границы */
}

button:hover {
    box-shadow: 0px 10px 0px rgb(182, 182, 182); 
    transform: translateY(-3px);
}

button:active {
    transform: translateY(2px);
    box-shadow: 0px 3px 0px rgb(182, 182, 182);
}


.resetBtn {
	color: white;
	background: none;
	size: 20;
}

.rotate-360 {
    transform: rotate(360deg);
    transition: transform 1s linear;
  }

.blur {
	position: absolute;
    inset: 5px;
    text-align: center;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 2;
}

.controls-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    z-index: 1;
    gap: 15px;
}

