@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.text-wrapper {
    /* Фиксированная высота для отображения нескольких строк */
    height: 115px;
    overflow: hidden;
    position: relative;
    padding-bottom: 60px;
}

.text { 
    display: inline-block;
    font-size: 34px;
    line-height: 42px;
    color: white;
    font-family: "Montserrat", serif;
    font-weight: 400;
    max-width: 100%;
    transition: transform 0.3s ease-in-out; /* для плавного скролла */
}
.text-word {
    display: inline-block; /* Каждое слово как блок */
  }
.text-correct {
    color: rgb(0, 202, 0);
    border-radius: 10px;
}

.text-current {
    position: relative;
    display: inline-block;
    min-width: 6px;
}

.text-error {
    background-color: red;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

/* Кастомный текстовый курсор */
.text-cursor {
    position: absolute;
    left: -1px;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: white;
    animation: blink 1.5s infinite;
}

.text-remaining {
    white-space: normal;
}

/* Анимация мигания курсора */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
